/* Global css rules for all my pages on github*/
/*Colors*/
:root{
    --background_1 : #ECE3DF; /* 20 25% 90% */
    --background_2 :#C2D6D6; /*180 20% 80%*/
    --primary : #B81414; /*0 80% 40%*/
    --secondary : #bd1add; /*290 40 40*/
    --text_dark : #05003F; /**/
}
/*Fonts*/
@font-face {
    font-family:'manrope';
    src:url(fonts/Manrope-Regular.woff2);
}
/*Text formating*/
html{
    font-family: manrope, helvetica, arial, sans-serif;
    font-weight: 400;
    color:var(--text_dark);
    font-size:20px;
    background-color: var(--background_1);
}
h1{
    font-size: 3rem;
    font-weight:1000;
    text-transform: uppercase;
}
h2{font-size: 1.9rem;}
h3{font-size: 1.3rem;}
h4{font-size: 1.3rem;}
small{font-size: 0.8rem;}
big{font-size: 1.3rem;}
strong{font-weight: 800;}
em{font-style: italic;}
blockquote{
    font-weight: 200;
    font-style: italic;
}
a{
    text-decoration: none;
    color: var(--secondary);
}
ul{
    list-style-type:square;
    list-style-position: inside;
    padding: 0;
}
ol{
    padding: 0;
    list-style:decimal;
    list-style-position: inside;
}
/*shadows inspired from google material design, the class call up the shadwos directly*/
.shadow0{box-shadow: none;}
.shadow01{box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);}
.shadow2{box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);}
.shadow3{box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);}
.shadow4{box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);}
.shadow6{box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);}
.shadow8{box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);}
.shadow9{box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);}
.shadow12{box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);}
.shadow16{box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);}
.shadow24{box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);}